* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}


.scroll {
    width: 100vw;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    transition: all ease 1s;
    z-index: 5000;

}

.time {
    color: white;
    font-size: 4vmax;
    font-family: "Gilroy";
    font-weight: 400;
    margin-top: 18vmax;
}

.date {
    color: white;
    font-size: 4vmax;
    font-family: "Gilroy";
    font-weight: 400;
    margin-top: 18vmax;
}

.scroll h1 {
    margin-bottom: 5vmax;
}

.Pass-screen {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1948&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 2000;


}

.Pass-screen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;


}

.Pass-screen form>input {
    padding: 0.4vmax 2vmax;
    border-radius: 5px;
    background: none;
    border-color: white;
    margin-top: 1vmax;
}

.Pass-screen form>img {
    margin-top: -13vmax;


}

.Pass-screen form>input::placeholder {
    color: white;
}

.screen-text {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1603566234499-85676f87022f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}
.screen-text h1{
    margin-left: 3vmax;

}
.span1{
    color: #79E0EE;
}
.span2{
    color: #98EECC;
}
.span3{
    color: #D0F5BE;;
}
.span4{
    color: #FBFFDC;;
}
.form-h5{
    font-size: 1vmax;
    color: white;
    font-family: "Gilroy";
    font-weight: 300;
    margin-top: 0.5vmax;
   
}